body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  width: 4%;
  border-bottom: none;
  margin: 100px auto ;

}
h1{
  margin: 50px auto 0 ;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.top-container{
  background-color: #E9F9F5;
  position: relative;
  padding-top: 100px;
}
 .middle-container{
   padding-top: 100px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  margin-top: 50px;
}
.bottom-cloud{
  position: absolute;
  left:300px;
  bottom:300px
}
.top-cloud{
  position: absolute;
  right:300px;
  top:50px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.guitar-img{
  width: 25%;
  float: left;
  margin-right: 70px;
}
.piano-img{
  width: 25%;
  float: right;
  margin-left: 70px;
}
.jay-img{
  height: 20%;
  width: 20%;
}
.intro{
  width:30%;
  margin: 0 auto 40px;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.copyright{
  margin-top: 20px;
  color:#EAF6F6;
  font-size: 0.75rem;
}
